/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 5%;
  background-color: rgb(29, 61, 35);
  background-image: url(../img/stadium.jpg);
  background-size: cover;
  /* Adjust as needed */
  background-position: center;
  /* Adjust as needed */
  padding-bottom: 200px;
}



.league-title {
  font-size: 2em;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
  margin-top: 25px;
}



/******************************************
/* TABLE
/*******************************************/
h1, h2 {
  color: rgb(214, 215, 206);
}

h1 {
  margin-top: 100px;
  margin-bottom: 0px;
}

h2 {
  padding-bottom: 0;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);

  font-size: 0.8rem;
  width: auto;
}

td {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
  text-align: center;
  width: 10vw;
  font-size: 20px;
}



img {
  display: block;
  margin: 0 auto;
  width: 65%;
}

/* logo */
img[src*='teams'] {
  width: 35%;
}

.imgTd {
  width: auto;
}

.logoTd {
  width: auto;
}

tr:nth-child(even) td {
  background-color: rgb(255, 255, 255);
}


tr:nth-child(odd) td {
  background-color: rgb(240, 240, 240);
}

tr:nth-child(1) td {
  background-color: rgb(210, 210, 210);
  color: rgb(89, 90, 83);
  font-size: 1.2em;
  font-weight: 600;
}

caption {
  padding: 10px;
}