/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  margin: auto 5%;
  background-color: rgb(232, 237, 233);
}







/******************************************
/* TABLE
/*******************************************/


table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);

  font-size: 0.8rem;
  width: auto;
}

td {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
  text-align: center;
  width: 10vw;
  font-size: 20px;
}

img {
  display: block;
  margin: 0 auto;
  width: 65%;
}

/* logo */
img[src*='teams'] {
  width: 35%;
}

.imgTd {
  width: auto;
}

.logoTd {
  width: auto;
}

tr:nth-child(even) td {
  background-color: rgb(255, 255, 255);
}


tr:nth-child(odd) td {
  background-color: rgb(240, 240, 240);
}

tr:nth-child(1) td {
  background-color: rgb(159, 159, 159);
  color: rgb(70, 255, 159);
  font-size: 1em;
  letter-spacing: 2.5px;
}

caption {
  padding: 10px;
}